body {
  background-image: url(4a9301858f50699e680aacb3c64fbdae.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 160vh;
  background-color: aliceblue; }

.botao {
  background-color: blue;
  color: #fff;
  font-size: 1.8em; }

